{% extends 'base.html' %}

{% block title %}Produtos{% endblock %}

{% block content %}
<h2>Produtos</h2>
<a href="{% url 'produto-create' %}" class="btn btn-success mb-3">Novo Produto</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Unidade</th>
            <th>Qtd. disponível</th>
            <th>Produtor</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
            <tr>
                <td>
                    {% if produto.foto %}
    <img src="{{ produto.foto.url }}" alt="{{ produto.nome }}" style="max-width: 100px; max-height: 100px; object-fit: contain;">
{% else %}
    Sem imagem
{% endif %}

                </td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>R$ {{ produto.preco }}</td>
                <td>{{ produto.unidade_medida }}</td>
                <td>{{ produto.quantidade_disponivel }}</td>
                <td>{{ produto.produtor.nome }}</td>
                <td>{{ produto.categoria.nome }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="8">Nenhum produto cadastrado.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
